<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Persona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registro de Personal</h1>
        
        <a href="/administrar" class="administrar-link">Ver Registros Guardados</a>
        <div class="separator"></div>

        <form action="/registrar" method="post" id="registroForm">
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" id="dni" name="dni" required placeholder="Ingrese DNI">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required placeholder="Ingrese Nombre">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required placeholder="Ingrese Apellido">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" placeholder="Calle, Av, Jr.">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" placeholder="999 999 999">
            </div>
            <button type="submit" class="btn-main">Registrar Datos</button>
        </form>
    </div>

    <div id="modal" class="modal-overlay">
        <div class="modal-content">
            <span class="close" onclick="cerrarMensaje()">&times;</span>
            <div class="success-icon">✅</div>
            <p>¡Procesando Registro!</p>
        </div>
    </div>

    <script>
        document.getElementById('registroForm').onsubmit = function() {
            document.getElementById('modal').style.display = 'flex';
        };
        function cerrarMensaje() {
            document.getElementById('modal').style.display = 'none';
        }
    </script>
</body>
</html>